<!DOCTYPE html>

<html lang="en" dir="ltr">
  <%- include('./templates/head'); -%>
  <body id="body-pd">
    <!-- SIDEBAR -->
    <%- include('./templates/navbar'); -%>

    <section class="home-section">
      <div class="home-content">
        <!-- <i class='bx bx-menu' ></i> -->
        <img class="logo-title" src="/img/logo.png" alt="" />
        <span class="text">SOE Sports 2021</span>
      </div>
      <div class="event"><h2>BasketBall</h2></div>

      <div class="serv-content">
        <% if (typeof schedule != 'undefined') { %> <%
        schedule.fixtureM.forEach(function(data){ %>

        <div class="card">
          <div class="box">
            <div class="match">Match no: <%=data.matchNo %></div>
            <div class="row">
              <div class="column">
                <div class="text"><%=data.t1 %></div>
                <div class="text"><%=data.score1 %></div>
              </div>
              <div class="VS">
                <img src="img/VS.png" alt="" />
              </div>

              <div class="column">
                <div class="text"><%=data.t2 %></div>
                <div class="text"><%=data.score2 %></div>
              </div>
            </div>
            <div class="Pool"><%=data.pool %></div>
            <div class="match"><%=data.time %></div>
          </div>
        </div>
        <% }) %> <% } %>

        <!-- <div class="card">
            <div class="box">
                <div class="text">Medicare, Healing Together</div>
                <p>A flutter app for effectiely distribuiting medicines and vaccines from the
                    manufacturing country to the the country that require the medicine as per
                    their request.</p>
            </div>
        </div> -->
      </div>
    </section>

    <!-- SIDEBAR ENDS HERE -->

    <%- include('./templates/script'); -%>
  </body>
</html>
